// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

td, th{
    padding: 5px 30px;
}

img{
    max-width: 100%;
}

.thumb{
    max-width: 250px;
}

header{
    background-color: lightsteelblue;
}